
uhd_srccodes/x64/Debug/uhd_srccodes.tlog/unsuccessfulbuild
*.idb
*.tlog
*.ipch
*.ipdb
*.log
*.obj
*.pdb
*.vcxproj
*.filters
*.user
*.recipe
*.iobj
*.vsidx
*.db
*.json
*.bin
.vs/uhd_imgui/v17/.suo
uhd_srccodes/x64/Release/uhd_srccodes.vcxproj.FileListAbsolute.txt
x64/Release/uhd_srccodes.exe
